@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

body {
	margin: 0;
	font-family: 'Audiowide', cursive;
}

header {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.logo {
	margin: 5px;
}

.logo img {
	height: 40px;
}

.background {
	background-image: url("./img/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

	min-height: 1200px;
}

/* Navbar Stylesheet */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	top: 0;
	left: 0;
	right: 0;
}

.navbar-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	position: absolute;
	left: 250px;
}

.navbar-list li {
	margin-right: 20px;
	display: inline-block;
}

.navbar-list li a {
	display: block;
	padding: 15px;
	color: #C0C0C0;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
	text-decoration: none;
	position: relative;
	font-family: 'Audiowide', cursive;
}

.navbar-list li a:after,
.navbar-list li a:before {
	transition: all .5s;
}

.navbar-list li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #aaa;
	height: 1px;
}

.navbar-list li a:hover:after {
	width: 100%;
}

.navbar-list.expanded {
	margin-left: auto;
}

/* Search bar Stylesheet */
.search-box {
	position: relative;
	display: flex;
	align-items: center;
}

.search-box input[type="text"] {
	width: 0;
	height: 36px;
	border: none;
	border-bottom: 2px solid #C0C0C0;
	background-color: transparent;
	font-size: 16px;
	padding: 0 10px;
	color: #fff;
	transition: width 0.3s ease-in-out;
	font-family: 'Orbitron', sans-serif;
}

.search-box button.search-icon {
	border: none;
	background-color: transparent;
	height: 60px;
	position: absolute;
	cursor: pointer;
	visibility: visible;
	right: 0;
}

.search-box button.search-button {
	border: none;
	background-color: transparent;
	height: 60px;
	position: absolute;
	cursor: pointer;
	visibility: hidden;
	right: 0;
}

.search-box input[type="text"]:focus {
	width: 200px;
	outline: none;
	padding-right: 30px;
}


/* Typewriter animation */
.title {
	position: absolute;
	left: 68%;
	top: 10%;
	z-index: 1;
	height: 300px;
}

.title h1 {
	font-size: 4rem;
	color: #fff;
	font-family: 'Orbitron', cursive;
	font-weight: bold;
	cursor: context-menu;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 0 10px #dcdcdc;
}

/* Card Stylesheet */
.card-container {
	margin: 0 -5px;
	position: absolute;
	bottom: 2%;
	left: 2%;
}

.card-container:after {
	content: "";
	display: table;
	clear: both;
}

.card-background {
	width: 190px;
	height: 254px;
	background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
	border-radius: 20px;
	transition: all .3s;
	float: left;
	margin: 10px;
}

.card {
	display: flex;
	width: 33.33%;
	min-height: 250px;
	margin: 0 20px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out;
	color: rgba(211, 211, 211, 0.8);
	font-size: 1.5rem;
	font-family: 'Righteous', cursive;
	font-size: 2rem;
	text-align: center;
}

.card:hover {
	transform: scale(1.05);
	border: 2px solid #dcdcdc;
}

/* Footer StyleSheet */
.footer {
	background-image: url("/static/img/cover.jpg");
	background-size: cover;
	background-position-y: center;
	background-repeat: no-repeat;
	color: #fff;
	height: 250px;
	font-family: 'Orbitron', cursive;
	padding: 10px;
}

/* Sharing button */
.footer-content {
	display: grid;
}

.wrapper {
	display: flex;
	place-items: center;
	position: relative;
	width: 100px;
	padding-left: 85%;
	margin-top: 75px;
}

.wrapper :is(.btn, .link) {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: #C0C0C0;
	color: #151515;
	border-radius: 50%;
}

.btn {
	position: absolute;
	border: none;
	cursor: pointer;
	z-index: 10;
	top: 50%;
	right: 0.7%;
}

@media (max-width: 1300px) {
	.btn {
		right: 1%;
	}
}

.active .btn,
.btn:hover {
	outline: 3px solid #0561ee;
	outline-offset: -4px;
}

.item {
	position: absolute;
	list-style: none;
	transition: transform 0.5s;
	transition-delay: var(--d);
}

.item a {
	text-decoration: none;
}

.wrapper.active .item:nth-child(1) {
	transform: translateX(-65px) translateY(-30px);
}
.wrapper.active .item:nth-child(2) {
	transform: translateY(-65px);
}
.wrapper.active .item:nth-child(3) {
	transform: translateY(65px);
}
.wrapper.active .item:nth-child(4) {
	transform: translateY(40px) translateX(-65px);
}

.link:hover {
	color: #fff;
	transition: background-color 0.5s;
}

.ig:hover {
	background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.tw:hover {
	background-color: #1da1f2;
}
.yt:hover {
	background-color: #ff0000;
	color: inherit;
}
.in:hover {
	background-color: #0A66C2;
	color: inherit;
}

/* Information at Footer */
.info h3{
	padding-top: 120px;
	margin: 0px;
}