@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

body {
	margin: 0;
	font-family: 'Audiowide', cursive;
	background-color: #010101;
	color: #d3d3d3cc;
}

.background {
	background-image: url("./img/background.jpg");
	background-size: cover;
	background-position: right bottom;
	background-repeat: no-repeat;
	position: relative;

	min-height: 1000px;
}

/* Header section */
header {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.logo {
	margin: 5px;
}

.logo img {
	height: 40px;
}

/* Navbar Stylesheet */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	top: 0;
	left: 0;
	right: 0;
}

.navbar-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	position: absolute;
	left: 220px;
}

.navbar-list li {
	display: inline-block;
}

.navbar-list li a {
	display: block;
	padding: 15px;
	color: #C0C0C0;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
	text-decoration: none;
	position: relative;
	font-family: 'Audiowide', cursive;
}

.navbar-list li a:after,
.navbar-list li a:before {
	transition: all .5s;
}

.navbar-list li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #aaa;
	height: 1px;
}

.navbar-list li a:hover:after {
	width: 100%;
}

.navbar-list.expanded {
	margin-left: auto;
}

/* Search bar Stylesheet */
.search-box {
	position: relative;
	display: flex;
	align-items: center;
}

.search-box input[type="text"] {
	width: 0;
	height: 36px;
	border: none;
	border-bottom: 2px solid #C0C0C0;
	background-color: transparent;
	font-size: 16px;
	padding: 0 10px;
	color: #fff;
	transition: width 0.3s ease-in-out;
	font-family: 'Orbitron', sans-serif;
}

.search-box button.search-icon {
	border: none;
	background-color: transparent;
	height: 60px;
	position: absolute;
	cursor: pointer;
	visibility: visible;
	right: 0;
}

.search-box button.search-button {
	border: none;
	background-color: transparent;
	height: 60px;
	position: absolute;
	cursor: pointer;
	visibility: hidden;
	right: 0;
}

.search-box input[type="text"]:focus {
	width: 200px;
	outline: none;
	padding-right: 30px;
}


/* Typewriter animation */
.title {
	text-align: right;
	z-index: 1;
	width: 100%;
}

.title h1 {
	display: inline-block;
	font-size: 5rem;
	color: #fff;
	font-family: 'Orbitron', cursive;
	font-weight: bold;
	cursor: context-menu;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 0 10px #dcdcdc;
	word-wrap: normal;
	width: 500px;
	margin-top: 10%;
}

/* @media (max-width: 1500px) {
	.title {
		text-align: center;
		z-index: 1;
		width: 100%;
	}

	.title h1 {
		display: inline-block;
		font-size: 2rem;
		color: #fff;
		font-family: 'Orbitron', cursive;
		font-weight: bold;
		cursor: context-menu;
		text-transform: uppercase;
		text-align: center;
		text-shadow: 0 0 10px #dcdcdc;
		word-wrap: normal;
		width: 395px;
		margin-top: 20%;
	}
} */

/* @media (max-width: 1300px) {
	.title {
		text-align: center;
		z-index: 1;
		width: 100%;
	}

	.title h1 {
		display: inline-block;
		font-size: 1.5rem;
		color: #fff;
		font-family: 'Orbitron', cursive;
		font-weight: bold;
		cursor: context-menu;
		text-transform: uppercase;
		text-align: center;
		text-shadow: 0 0 10px #dcdcdc;
		word-wrap: normal;
		width: 350px;
		margin-top: 25%;
	}
} */

/* Card Stylesheet */
.card-slider {
	overflow-x: auto;
	width: 100%;
	/* background-color: #010300; */
}

.slider {
	position: relative;
}

.slider-container {
	display: flex;
	height: 350px;
	overflow-x: hidden;
	padding-top: 20px;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	width: 33.33%;
	min-height: 250px;
	margin: 0 20px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(31, 38, 135, 0.37);
	transition: transform 0.3s ease-in-out;
	color: #d3d3d3cc;
	font-size: 1.5rem;
	font-family: 'Righteous', cursive;
	align-items: center;
	overflow: hidden;
	background: linear-gradient(135deg, #910E64, #03458E);
	backdrop-filter: blur(10px);
}

.card:hover {
	transform: scale(1.05);
	border: 2px solid #373F6E;
	background: linear-gradient(225deg, #03458E, #910E64);
}

/* Value Proposition StyleSheet */
.value-proposition {
	background: linear-gradient(90deg, #910E64, #03458E);
	position: relative;

	z-index: 1;
	margin: 20px;
	margin-bottom: 50px;
	border-radius: 20px;
	padding: 20px;
}

.value-proposition h2 {
	color: rgba(211, 211, 211, 0.8);
	font-size: 3rem;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
}

.value-proposition p {
	color: rgba(211, 211, 211, 0.8);
	font-size: 2rem;
	font-family: 'Righteous', cursive;
	padding: 20px;
	border-radius: 30px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(20px);
	margin-bottom: 0;
}

/* Services StyleSheet */
.services {
	/* background: linear-gradient(90deg, #910E64, #03458E); */
	position: relative;

	z-index: 1;
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 20px;
	padding: 20px;
	height: 300px;
}

.services h2 {
	margin: 20px;
	color: #d3d3d3cc;
	font-size: 3rem;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
}

.service-card {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	display: flex;
	gap: 5px;
	/* padding: .4em; */
}

.service-card p {
	margin: 10px;
	height: 100%;
	flex: 1;
	overflow: hidden;
	cursor: pointer;
	border-radius: 20px;
	transition: all .5s;
	background: linear-gradient(135deg, #910E64, #03458E);
	;
	border: 1px solid #ff5a91;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-card p:hover {
	flex: 4;
	justify-content: center;
	align-items: center;
}

.service-card p span {
	width: 100%;
	padding: .5em;
	text-align: center;
	transform: rotate(-90deg);
	transition: all .7s ease;
	text-transform: uppercase;
	color: #d3d3d3cc;
	letter-spacing: .1em;
	justify-content: center;
	display: flex;
}

.service-card p:hover span {
	transform: rotate(0deg);
}

.service-button {
	display: inline-block;
	position: absolute;
	background: #910E64;
	color: #fff;
	padding: 12px 30px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 4px;
	transition: all 0.3s ease;
	margin-top: 50px;
	right: 30px;
}

.service-button:hover {
	background: #03458E;
}

.animate {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.animate--active {
	opacity: 1;
	transform: translateY(0);
}

/* Footer StyleSheet */
.footer {
	color: #fff;
	height: 250px;
	font-family: 'Orbitron', cursive;
	padding: 10px;
}

/* Sharing button */
.footer-content {
	display: grid;
}

.wrapper {
	display: flex;
	place-items: center;
	position: relative;
	width: 100px;
	padding-left: 85%;
	margin-top: 75px;
}

.wrapper :is(.btn, .link) {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: #C0C0C0;
	color: #151515;
	border-radius: 50%;
}

.btn {
	position: absolute;
	border: none;
	cursor: pointer;
	z-index: 10;
	top: 50%;
	right: 0.7%;
}

@media (max-width: 1300px) {
	.btn {
		right: 1%;
	}
}

.active .btn,
.btn:hover {
	outline: 3px solid #0561ee;
	outline-offset: -4px;
}

.item {
	position: absolute;
	list-style: none;
	transition: transform 0.5s;
	transition-delay: var(--d);
}

.item a {
	text-decoration: none;
}

.wrapper.active .item:nth-child(1) {
	transform: translateX(-65px) translateY(-30px);
}

.wrapper.active .item:nth-child(2) {
	transform: translateY(-65px);
}

.wrapper.active .item:nth-child(3) {
	transform: translateY(65px);
}

.wrapper.active .item:nth-child(4) {
	transform: translateY(40px) translateX(-65px);
}

.link:hover {
	color: #fff;
	transition: background-color 0.5s;
}

.ig:hover {
	background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.tw:hover {
	background-color: #1da1f2;
}

.yt:hover {
	background-color: #ff0000;
	color: inherit;
}

.in:hover {
	background-color: #0A66C2;
	color: inherit;
}

/* Information at Footer */
.info h3 {
	padding-top: 120px;
	margin: 0px;
}