@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Audiowide', cursive;
    background-color: #010101;
    color: #d3d3d3cc;
    margin: 0 0 400px;
}

.background {
    background-image: url("/static/img/laptop.jpg");
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;

    height: 1080px;
}

/* Header section */
header {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    margin: 5px;
}

.logo img {
    height: 40px;
}

/* Navbar Stylesheet */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    left: 220px;
}

.navbar-list li {
    display: inline-block;
}

.navbar-list li a {
    display: block;
    padding: 15px;
    color: #C0C0C0;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    font-family: 'Audiowide', cursive;
}

.navbar-list li a:after,
.navbar-list li a:before {
    transition: all .5s;
}

.navbar-list li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

.navbar-list li a:hover:after {
    width: 100%;
}

.navbar-list.expanded {
    margin-left: auto;
}

/* Search bar Stylesheet */
.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    width: 0;
    height: 36px;
    border: none;
    border-bottom: 2px solid #C0C0C0;
    background-color: transparent;
    font-size: 16px;
    padding: 0 10px;
    color: #fff;
    transition: width 0.3s ease-in-out;
    font-family: 'Orbitron', sans-serif;
}

.search-box button.search-icon {
    border: none;
    background-color: transparent;
    height: 60px;
    position: absolute;
    cursor: pointer;
    visibility: visible;
    right: 0;
}

.search-box button.search-button {
    border: none;
    background-color: transparent;
    height: 60px;
    position: absolute;
    cursor: pointer;
    visibility: hidden;
    right: 0;
}

.search-box input[type="text"]:focus {
    width: 200px;
    outline: none;
    padding-right: 30px;
}


/* Typewriter animation */
.title {
    text-align: left;
    z-index: 1;
    width: 100%;
}

.title h1 {
    display: inline-block;
    font-size: 5rem;
    color: #fff;
    font-family: 'Orbitron', cursive;
    font-weight: bold;
    cursor: context-menu;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 10px #dcdcdc;
    word-wrap: normal;
    width: 500px;
    margin-top: 5%;
}

.services h1 {
    margin: 20px;
    color: #d3d3d3cc;
    font-size: 3rem;
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    margin-bottom: 80px;
}

/* Services StyleSheet */
.card-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.card {
    width: 100%;
    margin-bottom: 80px;
    /* height: 254px; */
    background: #212121;
    overflow: visible;
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.card-info {
    display: grid;
    align-items: center;
    gap: 2em;
    padding: 0 1rem;
}

.card-img {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translateY(-20%);
    background: #42caff;
    background: linear-gradient(to bottom, #910E64 0%, #03458E 100%);
    position: relative;
    transition: all .3s ease-in-out;
}

.card-img::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    border: 1rem solid #010101;
}

.text-title {
    text-transform: uppercase;
    font-size: 1.75em;
    color: #42caff;
    letter-spacing: 0.05rem;
    text-align: center;
}

.text-body {
    font-size: 1.5rem;
    text-align: center;
    color: #6f6d78;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}

.hidden-text-body {
    display: none;
    font-size: 1.5rem;
    text-align: left;
    color: #6f6d78;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}

@media (max-width: 1024px) {

    .text-body,
    .hidden-text-body {
        font-size: 0.7rem;
    }
}

.card:hover .card-img {
    --size: 110px;
    width: var(--size);
    height: var(--size);
}

/* Read More Button StyleSheet */
.toggleDetails-button {
    width: 270px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    align-self: end;
    /* padding-bottom: 2em; */
    display: flex;
    flex-direction: row;
}

.toggleDetails-button>svg {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    top: 20%;
    /* padding-left: 19px; */
    /* position: initial; */
}

.toggleDetails-button .text {
    display: flex;
    justify-content: center;
    opacity: 1;
    font-size: 1rem;
    margin-left: 4px;
    width: 80%;
}

.toggleDetails-button svg {
    /* width: 20px; */
    right: 0;
    /* top: 50%; */
    transform: translateY(-50%) rotate(-270deg);
    transition: 0.2s ease-out;
}

/* Contact-button StyleSheet */
#card5 {
    align-items: end;
    align-self: flex-end;
    width: 60%;
}

@media (max-width: 1024px) {
    #card5 {
        width: 100%;
    }
}

.contact {
    margin: 20px;
    font-size: 20px;
}

.contact-btn {
    text-decoration: none;
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
    transition: color 250ms;
    width: 200px;
    left: 70%;
}

.contact-btn::after,
.contact-btn::before {
    content: '';
    position: absolute;
    inset: 0;
}

.contact-btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%
    }

    50% {
        background-position: 70% 100%
    }

    100% {
        background-position: 31% 0%
    }
}

.contact-btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
            /* Top-left */
            var(--border-width) calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),

            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
}

.contact-btn:where(:hover, :focus)::after {
    clip-path: polygon(
            /* Top-left */
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),

            calc(100% - var(--border-width)) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),

            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),

            /* bottom-right 2 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
    transition: 200ms;
}

.contact-btn:where(:hover, :focus) {
    color: #fff;
}

/* Animations */
.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.animate--active {
    opacity: 1;
    transform: translateY(0);
}

/* Footer StyleSheet */
footer {
    color: #d3d3d3cc;
    font-family: 'Orbitron', cursive;
    /* padding: 10px; */
    position: absolute;
    /* height: 500px; */
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer-content {
    position: relative;
    padding-top: 50px;
    display: grid;
}

.wave-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
}

#part1 {
    position: absolute;
    top: 0;
    left: 0;
    fill: #910E64;
    width: 500px;
    z-index: -1;
    animation: move1 7s ease-in-out infinite;
    transform-origin: 50% 50%;
}

#part2 {
    position: absolute;
    top: 0;
    left: 0;
    fill: #03458E;
    width: 500px;
    z-index: -1;
    animation: move2 11s ease-in-out infinite;
    transform-origin: 50% 50%;
}

@keyframes move1 {
    0% {
        transform: scale(1) translate(10px, 0px);
    }

    38% {
        transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    }

    40% {
        transform: scale(0.8, 1) translate(10vw, 30vh) rotate(160deg);
    }

    78% {
        transform: scale(.5) translate(0vw, -70vh) rotate(-20deg);
    }

    80% {
        transform: scale(.5) translate(0vw, -70vh) rotate(-20deg);
    }

    100% {
        transform: scale(1) translate(10px, 0px);
    }
}

@keyframes move2 {
    0% {
        transform: scale(1) translate(200%, 80%);
    }

    38% {
        transform: scale(0.8, 1) translate(280%, 10%) rotate(160deg);
    }

    40% {
        transform: scale(0.8, 1) translate(280%, 10%) rotate(160deg);
    }

    78% {
        transform: scale(.5) translate(40%, -50%) rotate(-20deg);
    }

    80% {
        transform: scale(.5) translate(40%, -50%) rotate(-20deg);
    }

    100% {
        transform: scale(1) translate(200%, 80%);
    }
}

/* Sharing button */
.wrapper {
    display: flex;
    place-items: center;
    position: absolute;
    width: 100px;
    padding-left: 90%;
    margin-top: 4.1%;
}

.wrapper :is(.btn, .link) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #C0C0C0;
    color: #151515;
    border-radius: 50%;
}

.btn {
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    right: 0.7%;
}

@media (max-width: 1300px) {
    .wrapper {
        margin-top: 9%;
    }

    .btn {
        right: 1%;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        margin-top: 11%;
        padding-left: 87%;
    }

    .btn {
        right: 1%;
    }
}

.active .btn,
.btn:hover {
    outline: 3px solid #0561ee;
    outline-offset: -4px;
}

.item {
    position: absolute;
    list-style: none;
    transition: transform 0.5s;
    transition-delay: var(--d);
    z-index: 3;
}

.item a {
    text-decoration: none;
}

.wrapper.active .item:nth-child(1) {
    transform: translateX(-65px) translateY(-30px);
}

.wrapper.active .item:nth-child(2) {
    transform: translateY(-65px);
}

.wrapper.active .item:nth-child(3) {
    transform: translateY(65px);
}

.wrapper.active .item:nth-child(4) {
    transform: translateY(40px) translateX(-65px);
}

.link:hover {
    color: #fff;
    transition: background-color 0.5s;
}

.ig:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.tw:hover {
    background-color: #1da1f2;
}

.yt:hover {
    background-color: #ff0000;
    color: inherit;
}

.in:hover {
    background-color: #0A66C2;
    color: inherit;
}

/* Information at Footer */
.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info h3 {
    position: inherit;
    padding-top: 120px;
    margin: 0px;
    bottom: 14%;
}

.info h2 {
    position: inherit;
    padding-top: 120px;
    margin: 0px;
    bottom: 3%;
}